<B>OBSERVABLE TRENDS</B><br/>
<B>1) From an advertisement perspective, the primary target audience for Heroes of Pymoli are males between the ages of 20-24 years old as they comprise the majority of current players. </B><br/>
<B>2) On average males spend between 40 to 49 cents less per person than females and non-disclosed gendered players, however the total purchase value is much greater for men as they amount to approximately 84% of the players of Heroes of Pymoli.</B><br/>
<B>3) Upgrades similar to Oathbreaker, Last Hope of the Breaking Storm should be a focus for the company as it is the most popular and brought in almost $7.00 more than any other upgrade.</B>

In [55]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [2]:
# File to load
csv_file = "purchase_data.csv"

In [3]:
# Read csv file and store into Pandas data frame
pymoli_heroes = pd.read_csv(csv_file)

In [4]:
# Viewing column headers
pymoli_heroes.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
pymoli_heroes = pymoli_heroes.sort_values(by=['Gender'], ascending=False)
pymoli_heroes.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
401,401,Lirtim36,15,Other / Non-Disclosed,46,Hopeless Ebon Dualblade,1.33
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
350,350,Rairith81,15,Other / Non-Disclosed,34,Retribution Axe,2.22
549,549,Maluncil97,25,Other / Non-Disclosed,146,Warped Iron Scimitar,3.10

In [6]:
# PLAYER COUNT
# Total Players
num_of_players = len(pymoli_heroes["SN"].value_counts())

In [7]:
# Create Player Count data frame
Player_Count_df = pd.DataFrame({"Total Players":[num_of_players]})
Player_Count_df

   Total Players
0            576

In [8]:
# Number of unique items
num_of_itemIDs = len(pymoli_heroes["Item ID"].value_counts())
num_of_itemIDs

183

In [9]:
# Average Purchase Price
average_price = pymoli_heroes["Price"].mean()
average_price

3.0509871794871812

In [10]:
# Total Number of Purchases
total_purchases = pymoli_heroes["Purchase ID"].count()
total_purchases

780

In [11]:
# Total Revenue
total_revenue = pymoli_heroes["Price"].sum()
total_revenue

2379.7700000000004

In [12]:
# Summary Data frame
Purchasing_Summary_df = pd.DataFrame({"Number of Unique Items":[num_of_itemIDs], 
                                      "Average Price":[average_price], 
                                      "Number of Purchases":[total_purchases],
                                     "Total Revenue":[total_revenue]})

In [13]:
# Formatting Purchasing_Summary_df for currency
Purchasing_Summary_df.style.format({"Average Price":"${:,.2f}",
                                    "Total Revenue":"${:,.2f}"})

In [14]:
# GENDER DEMOGRAPHICS
# Group by Gender
gender_group = pymoli_heroes.groupby("Gender")

In [15]:
# Total count by gender per screen name
total_gender_count = gender_group.nunique()["SN"]

In [16]:
# Percentage counts - total count divided by total player count
gender_percentage = total_gender_count / num_of_players * 100
gender_percentage

Gender
Female                   14.062500
Male                     84.027778
Other / Non-Disclosed     1.909722
Name: SN, dtype: float64

In [17]:
# Gender Demographics df
gender_demo_df = pd.DataFrame({"Total Count": total_gender_count, "Percentage of Players": gender_percentage})

gender_demo_df

                       Total Count  Percentage of Players
Gender
Female                          81              14.062500
Male                           484              84.027778
Other / Non-Disclosed           11               1.909722

In [18]:
# Setting % with two decimal places
gender_demo_df["Percentage of Players"] = gender_demo_df["Percentage of Players"].map("{:.2f}%".format)
gender_demo_df

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%

In [19]:
# Reordering the index list
gender_demo_df.sort_values(["Total Count"], ascending = False).head()
gender_demo_df

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%

In [20]:
# Remove index "Gender"
gender_demo_df.index.name = None
gender_demo_df

                       Total Count Percentage of Players
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%

In [21]:
# PURCHASING ANALYSIS (GENDER)
# Total # of purchases by gender
gen_purchase_count = gender_group["Purchase ID"].count()

In [22]:
# Average purchase price by gender
gen_avg_purchase_price = gender_group["Price"].mean()

In [23]:
# Average purchasing total by gender
avg_purchase_total = gender_group["Price"].sum()

In [24]:
# Average purchase total by gender divided by purchase count by unique shoppers
avg_purchase_per_person = avg_purchase_total/total_gender_count

In [25]:
# Purchase Summary Data Frame
purchase_summary = pd.DataFrame({"Purchase Count": gen_purchase_count,
                                "Average Purchase Price": gen_avg_purchase_price,
                                "Total Purchase Value": avg_purchase_total,
                                "Avg Total Purchase per Person": avg_purchase_per_person})

In [26]:
# Currency Formatting

purchase_summary["Average Purchase Price"] = purchase_summary["Average Purchase Price"].map("${:,.2f}".format)
purchase_summary["Total Purchase Value"] = purchase_summary["Total Purchase Value"].map("${:,.2f}".format)
purchase_summary["Avg Total Purchase per Person"] = purchase_summary["Avg Total Purchase per Person"].map("${:,.2f}".format)

purchase_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [27]:
# Add index "Gender"
purchase_summary.index.name = "Gender"
purchase_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [28]:
# AGE DEMOGRAPHICS
# Establishing bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_ages = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [29]:
# Categorizing existing players using age bins
pymoli_heroes["Age Group"] = pd.cut(pymoli_heroes["Age"],age_bins, labels=group_ages)

In [30]:
# Create new data frame with the added "Age Group" and group it
age_grouped = pymoli_heroes.groupby("Age Group")

In [31]:
# Count total players by age category
total_count_age = age_grouped["SN"].nunique()

In [32]:
# Percentage by age category 
percentage_by_age = (total_count_age/num_of_players) * 100

In [33]:
# Create data frame with obtained values
age_demo = pd.DataFrame({"Total Count": total_count_age, "Percentage of Players": percentage_by_age})

In [34]:
# Setting % with two decimal places
age_demo["Percentage of Players"] = age_demo["Percentage of Players"].map("{:.2f}%".format)
age_demo

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

In [35]:
# Remove index
age_demo.index.name = None
age_demo

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

In [36]:
# TOP SPENDERS
# Group purchase data by screen names
spenders = pymoli_heroes.groupby("SN")

In [37]:
# Total purchases by Purchase ID
purchase_count_spender = spenders["Purchase ID"].count()

In [38]:
# Average purchase by name 
avg_purchase_price_spenders = spenders["Price"].mean()

In [39]:
# Total purchase by name
purchase_total_spenders = spenders["Price"].sum()

In [40]:
# Top Spenders Data Frame
top_spenders_summary = pd.DataFrame({"Purchase Count": purchase_count_spender,
                                     "Average Purchase Price": avg_purchase_price_spenders,
                                     "Total Purchase Value":purchase_total_spenders})

In [41]:
# Descending order
format_spenders = top_spenders_summary.sort_values(["Total Purchase Value"], ascending=False).head()

In [42]:
# Currency Formatting

format_spenders["Average Purchase Price"] = top_spenders_summary["Average Purchase Price"].map("${:,.2f}".format)
format_spenders["Total Purchase Value"] = top_spenders_summary["Total Purchase Value"].map("${:,.2f}".format)

format_spenders

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.41               $13.62
Iskadarya95               3                  $4.37               $13.10

In [43]:
# MOST POPULAR ITEMS
# Retrieve Item ID, Item Name & Item Price
items = pymoli_heroes[["Item ID", "Item Name", "Price"]]

In [44]:
# Group by Item ID & Item Name
items_group = items.groupby(["Item ID", "Item Name"])

In [45]:
# Purchase Count
purchase_count_by_item = items_group["Price"].count()

In [46]:
# Sum purchase value per item
price_sum = (items_group["Price"].sum())

In [47]:
# Individiual item price
item_price = price_sum/purchase_count_by_item

In [48]:
# Most Popular Data Frame
most_popular_summary = pd.DataFrame({"Purchase Count": purchase_count_by_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":price_sum})

In [49]:
# Descending order
format_most_popular = most_popular_summary.sort_values(["Purchase Count"], ascending=False).head()

In [50]:
# Currency Formatting

format_most_popular["Item Price"] = most_popular_summary["Item Price"].map("${:,.2f}".format)
format_most_popular["Total Purchase Value"] = most_popular_summary["Total Purchase Value"].map("${:,.2f}".format)

format_most_popular

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

In [53]:
# MOST PROFITABLE ITEMS
# Sort most_popular df by total purchase value in decending order
#format_most_popular = most_popular_summary.sort_values(["Total Purchase Value"]), ascending=False.head()

format_most_popular = most_popular_summary.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()

format_most_popular

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80

In [54]:
# Currency Formatting

format_most_popular["Item Price"] = most_popular_summary["Item Price"].map("${:,.2f}".format)
format_most_popular["Total Purchase Value"] = most_popular_summary["Total Purchase Value"].map("${:,.2f}".format)

format_most_popular

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80